#search {
    display: inline-block;
    max-width: 400px;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

#search-btn {
    display: inline-block;
    height: 30px;
    width: 80px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid darkgrey;
}

div .weather-hour,
div .weather-day {
    border: 1px solid grey;
    border-radius: 15px;
    vertical-align: middle;
}

.container {
    max-width: 400px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

.weather-now {
    max-width: 120px;
    vertical-align: top;
    padding-top: 0px;
}

.weather-map {
    max-width: 400px;
}

.weather-hours {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.weather-hour {
    display: inline-block;
    max-width: 100px;
    text-align: center;
    padding: 10px 5px;
    margin: 0 1px;
}

.weather-day {
    margin: 1px 0;
}

.weather-now,
.map-container {
    display: inline-block;
    margin: 0, auto;
}

.weather-today, 
.map-container {
    padding-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#description-today-w,
.weather-for-7-days, 
.map-description {
    padding-left: 10px;
}

.weather-7-days-container, 
.map-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.weather-for-7-days,
.map-description {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

.third {
    width: 33%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.margin-left-5 {
    margin-left: 15px;
}

.progress1 {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 25px;
    border: none;
  }
  
  .progress2 {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 50;
    width: 25px;
    border: none;
  }
  
  .progress {
    background: linear-gradient(to right, rgb(47, 135, 243), rgb(247, 170, 26));
    height: 0.5rem;
    /* border: 1px solid grey; */
    border: none;
    position: relative;
    width: 100px;
    vertical-align: middle;
  }

  /* Set the size of the div element that contains the map */
#map {
    height: 275px;
    /* The height is 400 pixels */
    width: 275px;
    /* The width is the width of the web page */
    border: 1px solid grey;
    border-radius: 15px;
  }