.container {
    max-width: 600px;
    margin: 0 auto;
}

#input-location {
    display: flex;
}

#search-input {
    display: inline-block;
    border: 1px solid darkgrey;
    padding: 0;
    padding-left: 5px;
    width: 495px;
    max-width: calc(100%-100px);
    border-radius: 5px;
    height: 20px;
    box-sizing: border-box;
}

#search-btn {
    width: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 0;
    height: 20px;
    box-sizing: border-box;
    margin-left: 5px;
}

#weather-map {
    display: flex;
    margin: 10px 0;
}

#weather-now {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
}

#map {
    width: 450px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
}

/* #map .gm-fullscreen-control,
#map .gmnoprint {
    visibility: collapse;
} */

#forecast-24-hours-sunset-sunrise {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.weather-hour {
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 1px;
    padding: 5px;
}

#forecast-for-7-days {
    margin: 10px auto;
}

.weather-day {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 1px 0;
    text-align: center;
}

.weather-day div {
    display: inline-block;
}

.progress1 {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 25px;
    border: none;
  }
  
  .progress2 {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 50;
    width: 25px;
    border: none;
  }
  
  .progress {
    background: linear-gradient(to right, rgb(47, 135, 243), rgb(247, 170, 26));
    height: 0.5rem;
    border: none;
    position: relative;
    width: 100px;
    vertical-align: middle;
  }